.DS_Store
.idea
*.log
tmp/

*.py[cod]
*.egg
build
htmlcov

dist/
local/
.venv/
espeak-ng-data/

_skbuild/
*.egg-info/

src/piper/train/vits/monotonic_align/core.c
*.so

lightning_logs/

file/

# User data and training artifacts
data/
g2pW/
neil_export/

*.zip
*.sh

.vscode/

outputs/

tool/*
!tool/
!tool/test-eq/
!tool/test-eq/*.py
!tool/test-eq/audioeq_v2/
!tool/test-eq/audioeq_v2/*.py
!tool/test-eq/audioeq_v2/README.md

._.DS_Store

piper-data
