.DS_Store
.idea
*.log
tmp/

*.py[cod]
*.egg
build
htmlcov

dist/
local/
.venv/
espeak-ng-data/

_skbuild/
*.egg-info/

src/piper/train/vits/monotonic_align/core.c
*.so

lightning_logs/

file/

# User data and training artifacts
data/
g2pW/
neil_export/

*.zip
*.sh

step_spectral_eq（0616）.py
